---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>
  <div id="sidebar">
    <h2>Might also like</h2><br>
    {%- for post in site.posts -%}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {%- endfor -%}
  </div>
  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
<style type="text/css">
  #sidebar {
    position: fixed;
    right: 10px;
    top: 200px;
    width: 200px;
    height: 400px;
    background-color: rgba(211,211,211,0.5);
    border-style: ridge;
    border-color: lightblue;
    border-width: 6px;
  }
  #sidebar li{
		background-color: rgba(196, 162, 123,0.25);
		margin: 5px;
		display: block;
		align-content: center;
  }
</style>
